
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
}
html, body {
    height: 100%;
}

#header {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #ffffff;
    padding: 2px;
    height: 24px;
}
#menu {
    font-family: monospace; line-height: 1.4em;
    font-size: 1.2em;
}
.menu-item {
    padding: 5px 10px;
}
#code {
    height: calc(100% - 224px);
    width: 100%;
}
.CodeMirror {
  z-index: 5;
  height: 100%;
  background: transparent;
}
#console {
    width: 100%;
    height: 200px;
    background: #000000;
}
#background {
    z-index: -2;
    position: absolute;
    top: 0px;
    left: 0px;
}
.CodeMirror-line span {
    background-color: rgba(0, 0, 0, 0.6);
    color: #cccccc;
}
/* fix weird alternating background colors */
.CodeMirror-line span span {
    background-color: rgba(0, 0, 0, 0);
}

